.App {
  text-align: center;
  background-color: #2d023d;
  color: #ffffff;
  min-height: 100vh;
}

.App-header {
  padding: 50px 20px;
}

h1 {
  font-size: 3rem;
  color: #bb86fc;
}

p {
  font-size: 1.2rem;
  color: #d0b3f3;
}
.main-content {
  margin-left: 200px; /* Width of sidebar */
  padding: 2rem;
}
